<div class="weather-app-container">
  <div class="main-section">
    <ng-container *ngIf="!isGpsAccess && !currentWeatherData">
      <img src="/img/weather.png" class="weather-cover-img"/>
    </ng-container>
    <ng-container *ngIf="!isCurrentWeatherLoading; else loadingTemplate">
      <div class="current-weather-container">
        <app-current-weather [currentWeather]="weatherForcastData?.current" [location]="weatherForcastData?.location"></app-current-weather>
      </div>
    </ng-container>
      <div class="searchbar-container">
        <app-searchbar (locationSelected)="onLocationSelected($event)"></app-searchbar>
      </div>
    </div>

  <ng-container *ngIf="!isForcastLoading; else loadingTemplate">
    <div class="forecast-container">
      <app-forcast [forecastDays]="weatherForcastData?.forecast?.forecastday"></app-forcast>
    </div>
  </ng-container>
</div>

<ng-template #loadingTemplate>
  <div class="loading-container">
    <app-loader></app-loader>
  </div>
</ng-template>
